@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700;800&display=swap');

body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    scroll-behavior: smooth; 
}

.hero-pattern { 
    background-color: #064e3b; 
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png"); 
}

/* Modal States */
.show-modal {
    transform: scale(1) !important;
    opacity: 1 !important;
}

/* Custom File Input Styling */
input[type="file"]::file-selector-button {
    background: #064e3b;
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 9px;
    cursor: pointer;
    margin-right: 5px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

section {
    animation: fadeIn 1s ease-in-out;
}